.bg_white {
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.1);
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.1);
    background-color: #FFF;
}

.bg_blue {
    background-color: #7bb4e3;
}

.text_blue {
    color: #7bb4e3
}

.main_body {
    margin-top: 70px;
}

.wlcm {
    font-size: 3.3rem;
    font-weight: bolder;

}

.image_space {
    height: 70vh;

}

.image_space img {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 50%;

}

table {
    border-radius: 15px;
}

.fa {
    padding: 10px;

}

.client_section {
    font-family: "Open Sans",
        sans-serif;
}

.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px;
}

.client_section .box .detail-box {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
}
.client_section .carousel-wrap {
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
  }
  


/* ----------------------------------------------------------backend ------------------------------------------ */

.sidebar {
    height: 60vh;
    top: 0;
    left: 0;
    padding: 5px;
    height: 100vh;
    color: white;
    float: left;
    width: 20%;
    position: fixed;
    top: 0;
    overflow-y: auto;
    left: 0;
    bottom: 0;
    padding: 40px 20px 20px 20px;
    z-index: 999;

}

.sidebar li a {
    /* width: 225px; */
    color: black;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.sidebar li a:hover,
.sidebar li a:focus {
    outline: none;
    background-color: #1a242f !important;
    color: #fff;
}


.sidebar ul {
padding: 0;
list-style: none;
border-bottom: 1px rgba(0,0,0,.3) solid;
}

.sidebar ul li a {
display: block;
padding: 10px 10px 15px 8px;
text-decoration: none;
   
}

.sidebar li ul li a:hover {
color: #fff;
}







.topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 275px;
    z-index: 1;
    right: 0;
}


.main-body {
    margin-left: 300px;
    margin-top: 5%;
}